<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in to continue</h3>
            <form action="/userLogin" method="post">
            {{#if error}}
            <div style="background-color: rgb(247, 163, 163);height: 40px;border-radius: 5px;" class="p-2">
              <p class="text-danger ">{{error}}</p>
            </div>
            {{/if}}

              <div class="form-outline mb-4 mt-3">
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" name="email" required/>
                <label class="form-label" for="typeEmailX-2">Email</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" name="password" required/>
                <label class="form-label" for="typePasswordX-2">Password</label>
              </div>

              <!-- Checkbox -->

              <button class="btn btn-primary btn-lg btn-block" style="width: 100%;" type="submit">Login</button>

              <hr class="my-4">
              <div>
                <b><a href="/userSignUp" style="">Don't have an account? Sign Up</a></b>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>